# Optimization Third Attempt

### A variable considered to be noisy was deleted. This variable was the on of the column named *AFFILIATION*, that displayed the affiliated sector of industry. Also, in this attempt the activation function was changed from *ReLU* to *Leaky ReLU*.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(application_df.columns[0], axis=1)
application_df = application_df.drop(application_df.columns[0], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop noisy variable
application_df = application_df.drop(application_df.columns[1], axis=1)
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_unique = application_df.dtypes.index.tolist()
application_df[application_unique].nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df.APPLICATION_TYPE.value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ...?
replace_application_type = list(application_type_counts[application_type_counts < 200].index)

# Replace in dataframe
for application_type in replace_application_type:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(application_type,"Other")

# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\isabe\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\isabe\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\isabe\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="leaky_relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="leaky_relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3040

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,501
Trainable params: 5,501
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=4000)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.6257 - accuracy: 0.6452
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6155 - accuracy: 0.6499
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6142 - accuracy: 0.6529
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6129 - accuracy: 0.6506
Epoch 5/100
780/804 [============================>.] - ETA: 0s - loss: 0.6127 - accuracy: 0.6533
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6118 - accuracy: 0.6540
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6113 - accuracy: 0.6534
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6104 - accuracy: 0.6556
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6095 - accuracy: 0.6538
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6089 - accuracy: 0.6554
Epoch 10/100
760/804 [===========================>..] - ETA: 0s - loss: 0.6069 - accuracy: 0.6563
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6087 - accuracy: 0.6545
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6090 - accuracy: 0.6538
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6084 - accuracy: 0.6544
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6078 - accuracy: 0.6559
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6077 - accuracy: 0.6550
Epoch 15/100
742/804 [==========================>...] - ETA: 0s - loss: 0.6079 - accuracy: 0.6583
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6074 - accuracy: 0.6579
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6074 - accuracy: 0.6560
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6068 - accuracy: 0.6551
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6069 - accuracy: 0.6566
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6067 - accuracy: 0.6564
Epoch 20/100
720/804 [=========================>....] - ETA: 0s - loss: 0.6063 - accuracy: 0.6574
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6068 - accuracy: 0.6576
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6067 - accuracy: 0.6562
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6061 - accuracy: 0.6564
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6057 - accuracy: 0.6580
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6062 - accuracy: 0.6560
Epoch 25/100
700/804 [=========================>....] - ETA: 0s - loss: 0.6069 - accuracy: 0.6569
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6061 - accuracy: 0.6575
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6058 - accuracy: 0.6574
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6062 - accuracy: 0.6586
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6055 - accuracy: 0.6588
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6057 - accuracy: 0.6583
Epoch 30/100
681/804 [========================>.....] - ETA: 0s - loss: 0.6052 - accuracy: 0.6569
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6054 - accuracy: 0.6567
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6055 - accuracy: 0.6566
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6052 - accuracy: 0.6581
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6051 - accuracy: 0.6579
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6049 - accuracy: 0.6570
Epoch 35/100
659/804 [=======================>......] - ETA: 0s - loss: 0.6055 - accuracy: 0.6557
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6048 - accuracy: 0.6565
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6047 - accuracy: 0.6594
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6047 - accuracy: 0.6578
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6045 - accuracy: 0.6585
Epoch 39/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6044 - accuracy: 0.6589
Epoch 40/100
640/804 [======================>.......] - ETA: 1s - loss: 0.6052 - accuracy: 0.6566
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6041 - accuracy: 0.6590
Epoch 41/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6041 - accuracy: 0.6588
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6041 - accuracy: 0.6600
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6040 - accuracy: 0.6590
Epoch 44/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6044 - accuracy: 0.6565
Epoch 45/100
614/804 [=====================>........] - ETA: 1s - loss: 0.6020 - accuracy: 0.6599
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6041 - accuracy: 0.6572
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6039 - accuracy: 0.6585
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6039 - accuracy: 0.6569
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6038 - accuracy: 0.6587
Epoch 49/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6037 - accuracy: 0.6594
Epoch 50/100
596/804 [=====================>........] - ETA: 1s - loss: 0.6044 - accuracy: 0.6559
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6041 - accuracy: 0.6573
Epoch 51/100
804/804 [==============================] - 5s 7ms/step - loss: 0.6037 - accuracy: 0.6592
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6040 - accuracy: 0.6581
Epoch 53/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6041 - accuracy: 0.6562
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6036 - accuracy: 0.6584
Epoch 55/100
580/804 [====================>.........] - ETA: 1s - loss: 0.6025 - accuracy: 0.6536
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6038 - accuracy: 0.6564
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6034 - accuracy: 0.6583
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6036 - accuracy: 0.6568
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6032 - accuracy: 0.6591
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6033 - accuracy: 0.6590
Epoch 60/100
554/804 [===================>..........] - ETA: 1s - loss: 0.6031 - accuracy: 0.6591
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6036 - accuracy: 0.6596
Epoch 61/100
804/804 [==============================] - 5s 7ms/step - loss: 0.6036 - accuracy: 0.6593
Epoch 62/100
804/804 [==============================] - 5s 7ms/step - loss: 0.6034 - accuracy: 0.6595
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6034 - accuracy: 0.6584
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6033 - accuracy: 0.6582
Epoch 65/100

539/804 [===================>..........] - ETA: 1s - loss: 0.6081 - accuracy: 0.6566
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6033 - accuracy: 0.6599
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6031 - accuracy: 0.6587
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6034 - accuracy: 0.6591
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6028 - accuracy: 0.6582
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6029 - accuracy: 0.6581
Epoch 70/100
515/804 [==================>...........] - ETA: 1s - loss: 0.6039 - accuracy: 0.6578
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6028 - accuracy: 0.6597
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6031 - accuracy: 0.6590
Epoch 72/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6031 - accuracy: 0.6592
Epoch 73/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6031 - accuracy: 0.6583
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6027 - accuracy: 0.6578
Epoch 75/100
499/804 [=================>............] - ETA: 1s - loss: 0.6007 - accuracy: 0.6611
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.6030 - accuracy: 0.6585
Epoch 76/100
804/804 [==============================] - 5s 7ms/step - loss: 0.6026 - accuracy: 0.6582
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6028 - accuracy: 0.6598
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6030 - accuracy: 0.6595
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6029 - accuracy: 0.6593
Epoch 80/100
474/804 [================>.............] - ETA: 1s - loss: 0.6032 - accuracy: 0.6551
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6022 - accuracy: 0.6586
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6028 - accuracy: 0.6599
Epoch 82/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6027 - accuracy: 0.6595
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6027 - accuracy: 0.6595
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6027 - accuracy: 0.6595
Epoch 85/100
456/804 [================>.............] - ETA: 1s - loss: 0.6010 - accuracy: 0.6617
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 4s 6ms/step - loss: 0.6023 - accuracy: 0.6605
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6027 - accuracy: 0.6604
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6025 - accuracy: 0.6597
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6028 - accuracy: 0.6576
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6023 - accuracy: 0.6599
Epoch 90/100
439/804 [===============>..............] - ETA: 1s - loss: 0.5999 - accuracy: 0.6634
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6023 - accuracy: 0.6588
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6025 - accuracy: 0.6583
Epoch 92/100
804/804 [==============================] - 5s 7ms/step - loss: 0.6026 - accuracy: 0.6588
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6023 - accuracy: 0.6597
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6022 - accuracy: 0.6605
Epoch 95/100
414/804 [==============>...............] - ETA: 1s - loss: 0.6027 - accuracy: 0.6597
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.6024 - accuracy: 0.6600
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6021 - accuracy: 0.6613
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6023 - accuracy: 0.6597
Epoch 98/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6025 - accuracy: 0.6593
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6022 - accuracy: 0.6592
Epoch 100/100
396/804 [=============>................] - ETA: 2s - loss: 0.6019 - accuracy: 0.6604
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.6022 - accuracy: 0.6607

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.6087 - accuracy: 0.6570 - 2s/epoch - 6ms/step
Loss: 0.6086540818214417, Accuracy: 0.6570262312889099

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")